.new-form-input {
  font-family: Arial, Helvetica, sans-serif;
  color: #3e4444;
  border-radius: 2px;
  border-style: inset;
}
.create-new-todo {
  border: 1px;
  text-align: center;
  background-color: #b5e7a0;
  color: #3e4444;
  font-size: 12px;
  margin-left: 20px;
}
